.container{
    display:flex;
    justify-content: space-between;
    position: relative;
}
.logo_heading{
    padding-left:1%;
    margin-bottom: 0%;
    align-self: flex-end;
    font-size: 300%;
    width: 100%;
}
.logo_head_container{
    display: flex;
    width:100%;
}
#menu_icon{
    display:none;
}
.nav_bar{
    position: absolute;
    right:0%;
    top: 0%;
}
.navi_menu{
    display: flex;
    justify-content: space-around;
    font-size: 135%;
    margin:2% 0%;
}
.navi_menu a{
    text-decoration: none;
    color:black;
}
.under_line{
    height:1%;
    background-color: black;
    /* opacity:0.1; */
}
.dog_container{
    position: relative;
    border:1px solid black;
}
.dog_image{
    width:100%;  
    height:25em;
    object-fit: cover;
    box-shadow: 5px 5px 8px blueviolet;
}
.image_content{
    position: absolute;
    top: 25em;
    opacity: 0.5%;
}
.news_heading{
    display:flex;
    justify-content: space-between;
    position: relative;
}
.news_heading_part1{
    padding-top:0%;
    align-self:flex-end;
    font-size: 115%;
}
.news_heading_part2{
    padding-top:2%;
    font-size: 115%;
    
}
.news_heading_part2 a{
    text-decoration: none;
    color:black;
}
.table_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sports_table{
    font-size: 119%;
    width:100%;
    text-align: center;
}
.table_content{
    display:flex;
    justify-content: space-between;
}
.table_head{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.table_score_content{
    display: flex;
    justify-content: space-around;
    width:10%;
}

.weather{
    width: 100%;
    height: auto;
}
.today_weather{
    display:flex;
    height: 35%;
}
.today_temperature{
   align-self: center;
    font-size: 195%;
}
.weather_image_daywise{
    display: flex;
    width:100%;
    justify-content: space-around;
}

.today_temperature_image{
    width:30%;
    height:40%;
}
.image_size_weather{
    width:100%;
}
.monday_weather{
    width:12%;
    font-size: 125%;
    text-align: center;
}
.tuesday_weather{
    width:12%;
    font-size: 125%;
    text-align: center;
}
.wednesday_weather{
    width:12%;
    font-size: 125%;
    text-align: center;
}
.thursday_weather{
    width:12%;
    font-size: 125%;
    text-align: center;
}
.friday_weather{
    width:12%;
    font-size: 125%;
    text-align: center;    
}
.footer {
    display: flex;
    width:22em;
    justify-content: space-between;
}
.footer a{
    text-decoration: none;
    color:black;
}
.Latest_news{
    display: flex;
    justify-content: space-between;
}
.news_latest{
    font-size: 120%;
}
.more_latest_news{
    padding-top:2%;
    font-size: 115%;
}
.more_latest_news a{
    text-decoration: none;
    color:black;
}
.latest_news_container{
    
    flex-direction: column;
}
.latest_news_img{
    width:10em;
    height:7em;
    padding:0.3em;
    float: left;
}
.news_subheading{
    padding:1%;
    font-weight: bold;
    font-size: 135%;
}
.news_subheading_discription{
    margin:0.1em 0.1em;
    padding:1%;
    font-size: 105%;
}
 @media only screen and (max-width:700px){
    #menu_icon{
        display: block;
        width: 100%;
    }
    .navi_menu{
        display: none;
    }
}